.ust-nav{
    
    color: white;
    font-size: 30px;
    
    
    
    
}

.welcome{
    background-color: rgb(64, 61, 61);
    width: 49%;
    height: 50px;
    padding-left: 3px;
    padding-right: 9px;
    position: relative;
    line-height: 50px;
    

    
    
}

.login{
    background-color: rgb(64, 61, 61);
    width: 49%;
    position: relative;
    left: 1300px;
    top: -50px;
    padding-left:9px ;
    height: 50px;


    
    
}
.login a{
    color: white;
    text-decoration: none;
    position: relative;
    left: 560px;
}