*{
    font-size: 25px;
}

nav{
    position: sticky;
    top: 0;
}

table{
    
    width: 100%
}

th{
    width: 50%;
    border: 1px solid rgb(71, 68, 68);
    background-color: rgb(71, 68, 68);
    color: white;
    text-align: right;
}

.welcome{
    
    position: absolute;
    top: 5px;
    left: 13px;

}
th a{
    color:white;
    text-decoration: none;
    
}

td{
   background-color: rgb(216, 213, 213);
   width: 50%;
   height: 80px; 
   text-align: right;
   
}

.practise{
    font-family: 'DynaPuff', cursive;
    font-size: 50px;
    position: absolute;
    top: 55px;
}

td a{
    text-decoration: none;
    color:black;
    margin-right: 10px;
    margin-left: 10px;
}
i{
    position: fixed;
    bottom: 30px;
    right: 50px;
    color:green;
}


